@media only screen and (max-width:991px) {
    .header-mobile-fixed .wrapper {
        padding-top: 40px;
    }

    .header {
        height: auto;
    }

    .card-button-outer {
        display: none !important;
    }

    .header-menu-wrapper {
        overflow        : inherit;
        z-index         : 96;
        position        : relative;
        top             : -10px;
        bottom          : 0;
        left            : 0px;
        width           : 100%;
        text-align      : center;
        box-shadow      : none;
        background-color: transparent;
    }

    .header-mobile-fixed .header-mobile {
        height    : 40px;
        min-height: 40px;
    }

    .breadcrumb,
    .breadcrumb .text-muted,
    .breadcrumb a,
    .breadcrumb.breadcrumb-dot .breadcrumb-item:after,
    .breadcrumb .fa-home:before {
        color: #fff !important;
    }

    .breadcrumb.breadcrumb-transparent {
        text-align: center;
    }

    .breadcrumb .breadcrumb-item a,
    .breadcrumb.breadcrumb-transparent,
    .breadcrumb-item,
    .breadcrumb-item+.breadcrumb-item {
        display      : inline-block;
        margin-bottom: 0px !important;
        margin-top   : 0px !important;
    }

.header-menu-wrapper .main-title {
        color    : #fff;
        font-size: 14px;
        margin   : 8px 0px;

    }
    .header {
        height: auto;
        
        background-color:var(--blue-color-theme) !important;
    }
    .topbar{
        height: auto;
    }
body{
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#007bff+0,007bff+40,ffffff+40,ffffff+100 */
background: #007bff; /* Old browsers */

background: -moz-linear-gradient(top,  #007bff 0%, #007bff 20%, #ffffff 20%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #007bff 0%,#007bff 20%,#ffffff 20%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #007bff 0%,#007bff 20%,#ffffff 20%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007bff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}
body,
html{
    height: auto;
}
.header-mobile {
 background-color: var(--blue-color-theme);
 z-index         : 97;
    }
.tab-style-button{
    display: none;
}
    .topbar .topbar-item {
        display: none;
    }
    .slider-forms{
        width: 100%;
    }
    .content {
        top     : 0px;
        position: relative;
        padding : 0px;
    }

    .header-mobile-fixed .topbar {
        z-index: 0;
    }

    .card-header .card-title {
        display: none !important;
    }

    .card.card-custom>.card-header {
        display   : inline-block !important;
        text-align: center;
    }

    .card.card-custom>.card-header .card-toolbar {
        display: inline-block;
    }

    .card.card-custom>.card-body {
        padding: 10px;
    }

    .btn.btn-view {
        font-size: 12px;
        padding  : 5px 7px;
    }

    .burger-icon span,
    .burger-icon span::before,
    .burger-icon span::after {
        background-color: #fff;
        height          : 2px;
        min-height      : 2px;
    }



    .content {
        top: 0px;
    }

    .image-input.image-input-outline .image-input-wrapper {
        box-shadow: 0 0.5rem 1.5rem 0.5rem rgb(0 0 0 / 5%);
    }

    .minus-mt-50 {
        margin-top: 10px;
        z-index   : 2;
    }

    .tab-content .row .col-3 {
        width    : 100%;
        max-width: 100%;
    }

    .ihits-table.table-border.table-head-small table thead tr th {
        padding: 4px 5px;
    }

    .ihits-table.table-border table tbody tr td {
        padding  : 4px 5px;
        font-size: 12px;
    }



    .ihits-table.vertical-scroll-100 tbody,
    .ihits-table.vertical-scroll-200 tbody,
    .ihits-table.vertical-scroll-250 tbody,
    .ihits-table.vertical-scroll-300 tbody,
    .ihits-table.vertical-scroll-400 tbody,
    .ihits-table.vertical-scroll-500 tbody,
    .header {
        height: auto;
    }

    .mt-mobile-0px {
        margin-top   : 0px !important;
        margin-bottom: 0px !important;
    }

    .mb-mobile-10 {
        margin-bottom: 10px;
    }

    .mb-mobile-10.mt-4 {
        margin-top: 0px !important;
    }

    .gross-salary table tr td {
        width  : 100% !important;
        display: inline-block;
    }

    .ulList li {
        padding: 8px 10px;
    }

    .checkbox-inline .ml-20 {
        margin-left: 0px !important;
    }

    /* Profile Header Section */

    .profile-header .row {
        display  : block;
        flex-wrap: nowrap;
    }

    .profile-header .col-md-2,
    .profile-header .col-md-3,
    .profile-header .col-md-4 {
        padding-right: 14px;
    }

    .profile-header select.form-control,
    .profile-header .form-control,
    .profile-header .form-control,
    .profile-header .btn.dropdown-toggle {
        height: 26px;
    }

    .profile-header .col-md-3 .form-group {
        margin-bottom: 5px !important;
    }

    .profile-header .col-md-3 .form-group .btn.btn-default {
        position: absolute;
        left    : -74px;
        top     : -33px;
        height  : 26px;
        padding : 3px 20px;
    }

    .profile-header,
    .profile-header-overflow {
        background-color: #fff;

    }

    .profile-header {
        width        : 96%;
        left         : 2%;
        border-radius: 10px;
        overflow     : hidden;
        padding      : 7px 20px !important;
    }

    .profile-header .col-md-2 {
        width       : 90px;
        float       : left;
        padding-left: 0px;
    }

    .profile-header .col-md-2 .float-right {
        text-align: left !important;
        float     : left !important;
    }

    .profile-header .col-md-9 {
        width        : auto;
        position     : relative;
        top          : 0px;
        padding-left : 100px !important;
        padding-right: 5px;
    }

    .profile-header .header-profile-name,
    .profile-header .header-profile-name a {
        color        : var(--blue-color-theme);
        margin-bottom: 3px;
    }

    .profile-header .header-profile-email,
    .profile-header .header-profile-label {
        color: #333;
    }

    .profile-header .fas {
        color: #999;
    }

    .profile-header .text-right {
        text-align: left !important;
    }

    .profile-header .float-right {
        float: left !important;
    }

    /* Profile Header Section */

    .ihits-table .form-control {
        border          : 1px solid #999999;
        background-color: #fff;
    }
    .width-22,
    .width-30,
    .width-70,
    .width-78 {
        flex         : 0 0 100%;
        max-width    : 100%;
        margin-top   : 5px;
        margin-bottom: 5px;
    }

    .ihits-table.vertical-scroll-100 thead,
    .ihits-table.vertical-scroll-200 thead,
    .ihits-table.vertical-scroll-300 thead,
    .ihits-table.vertical-scroll-400 thead,
    .ihits-table.vertical-scroll-500 thead {
        width: calc(100% - 0em);
    }

    .card-button-outer {
        display              : grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap      : 0px;
        grid-row-gap         : 10px;
        margin-bottom        : 0px;
    }

    .awards-select-field-mobile-view {
        display: block;

    }

    .awards-select-field-mobile-view .form-control {
        color        : #595b66;
        border       : 1px solid #fff;
        padding      : 0px 5px;
        line-height  : 18px;
        height       : 35px;
        font-size    : 13px;
        border-radius: 4px;
    }

    .more-alert {
        margin-bottom: 10px;
        height       : auto;
    }

    .more-alert {
        border-radius: 6px;
    }

    .btn.btn-default.mobile-full-width {
        width: 100%;
    }

    .footer {
        margin-top: 10px;
        padding   : 5px 0px;
        position  : relative;
    }

    .footer .nav {
        display: none;
    }

    .gross-salary {
        margin-top   : 10px !important;
        margin-bottom: 10px !important;
    }

    .btn {
        padding: 10px 10px;
    }

    .mobile-responsive-table table tr.table-success td:last-child {
        border-bottom: none !important;
    }

    .input-group .input-group-prepend .btn {
        padding: 5px 10px;
    }


}


@media screen and (max-width: 600px) {
    .mobile-responsive-table table {
        border: 0;
    }

    .ihits-table.table-border.mobile-responsive-table table {
        border: none;
    }

    .ihits-table.table-border.mobile-responsive-table table tr {
        border: 1px solid #EBEDF3;
    }

    .ihits-table.odd-even.mobile-responsive-table table tbody tr:nth-child(even) {
        background-color: transparent;
    }

    .ihits-table.odd-even.mobile-responsive-table table tbody tr td:nth-child(even) {
        background-color: #f5f6fa;
    }

    .ihits-table.hover-color.mobile-responsive-table table tbody tr td:hover {
        background-color: #f5f6fa;
    }

    .mobile-responsive-table table thead {
        border  : none;
        clip    : rect(0 0 0 0);
        height  : 1px;
        margin  : -1px;
        overflow: hidden;
        padding : 0;
        position: absolute;
        width   : 1px;
    }

    /* .ihits-table.vertical-scroll tbody {
        display: block;
        height: auto !important;
        overflow: auto;
    } */
    .ihits-table.table-border.mobile-responsive-table table thead tr th,
    .ihits-table.table-border.mobile-responsive-table table tbody tr td {
        border: none;
    }

    .mobile-responsive-table table tr {
        border-bottom: 3px solid #ddd;
        display      : block;
        margin-bottom: 10px;
    }

    .mobile-responsive-table table tr:last-child {
        margin-bottom: 0px;
    }

    .mobile-responsive-table table td {
        border-bottom        : 1px solid #ddd !important;
        font-size            : 12px;
        text-align           : left;
        padding-top          : 7px !important;
        padding-bottom       : 7px !important;
        line-height          : 13px !important;
        display              : grid;
        grid-template-columns: 45% 55%;
    }

    .mobile-responsive-table table td::before {
        content       : attr(data-label);
        float         : left;
        font-weight   : bold;
        text-transform: uppercase;
        text-align    : left;
        padding-right : 25px;
        font-size     : 11px;
    }

    .mobile-responsive-table table td:last-child {
        border-bottom: 5px solid #ddd !important;
    }
}

/* ====================================================
                   MEDIA QUERY MIN 992 START
======================================================== */
@media (min-width: 992px) {
    .header.header-fixed {
        height: 40px;
    }

    .header-fixed .wrapper {
        padding-top: 20px;
    }

    .content {
        padding: 25px 0px 15px;
    }
    .footer-fixed .footer {
        height: auto;
    }
    .footer-fixed .content {
        padding-bottom: 35px;
    }
    .footer-fixed .footer{
        position: inherit;
    }
}
/* ====================================================
                   MEDIA QUERY MIN 992 END
======================================================== */