.mobile-tab-section {
    display: none;
}

.offcanvas .profile-header {
    display: none;
}
/* ====================================================
                   MEDIA QUERY MIN 992 START
======================================================== */
@media (min-width: 992px) {
    .ihits-table.table-scroll {
        height: 500px;
        overflow-x: auto;
    }
        .ihits-table.table-scroll thead th {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }
    .header.header-fixed {
        height: 40px;
    }

    .header-fixed .wrapper {
        padding-top: 20px;
    }


    .footer-fixed .footer {
        height: auto;
    }

    .footer-fixed .content {
        padding-bottom: 35px;
    }

    .footer-fixed .footer {
        position: inherit;
    }
}
/* ====================================================
                   MEDIA QUERY MIN 992 END
======================================================== */

@media only screen and (max-width:991px) {
  
    .mobile-tab-section {
        display: block;
    }

    .header {
        height: auto !important;
    }

    .header-mobile-fixed .header-mobile,
    .header {
        background: var(--blue-color-theme) !important;
    }

    .header-menu-wrapper {
        /* z-index: 1001;
        position: absolute;
        top: 49px;
        left: 0px;
        width: 100%;
        height: 40px;
        background: var(--blue-color-theme) !important;
        padding:0px 15px; */

        overflow: inherit;
        z-index: 96;
        position: relative;
        top: -10px;
        bottom: 0;
        left: 0px;
        width: 100%;
        text-align: center;
        box-shadow: none;
        background-color: transparent;
    }

    .burger-icon span,
    .burger-icon span::before,
    .burger-icon span::after {
        background-color: #fff;
    }

    .content {
        top: 10px !important;
        margin-bottom: 20px;
    }

    .header-menu-wrapper .main-title {
        color: rgb(255, 255, 255);
        font-size: 14px;
        margin: 8px 0px;
    }

    .breadcrumb,
    .breadcrumb .text-muted,
    .breadcrumb a,
    .breadcrumb.breadcrumb-dot .breadcrumb-item::after,
    .breadcrumb .fa-home::before {
        color: rgb(255, 255, 255) !important;
    }

    .header-menu-wrapper .main-title {
        margin: 10px 10px 0px 0px !important;
    }

    .card.card-custom.height-100per.footer-row-fixed {
        padding-bottom: 30px !important;
    }
    /* .slider-forms {
        width: 100% !important;
        <new>
    } */
    .slider-form-close {
        left: auto !important;
        top: 0px !important;
        right: 0px !important;
    }

    .slider-forms .profile-header .row {
        display: block;
        flex-wrap: nowrap;
    }

    .profile-header .col-md-2 {
        width: 90px;
        float: left;
        display: flex;
    }

    .profile-header {
        width: 100%;
        /* left         : 2%; */
        border-radius: 10px;
        overflow: hidden;
        padding: 7px 20px !important;
    }

    .slider-forms.slider-forms-open {
        width: 100% !important;
    }

    .mobile-responsive-table strong {
        display: none;
    }

    .date {
        margin-bottom: 5px;
    }

    .reward-recognition-entry table thead tr th:nth-child(5), .reward-recognition-entry table tbody tr td:nth-child(5) {
        text-align: left !important;
    }

    .form-group label {
        font-size: 11px !important;
    }

    .star-rating > label {
        font-size: 26px !important;
    }

    .ihits-table .form-group {
        margin-bottom: 10px !important;
    }

    .profile-header .header-profile-email, .profile-header .header-profile-label {
        font-size: 10px !important;
    }

    .import i::before {
        font-size: 14px !important;
    }

    .import {
        margin-left: 6px !important;
    }

    .tab-button-wrap {
        background-color: white !important;
        border: none !important;
    }

    .ihits-table {
        margin-bottom: 20px !important;
    }

    .document-card-outer {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .upload-icon {
        text-align: left !important;
    }

    .tab-outer {
        margin-bottom: 27px !important;
    }

    .accodiaton-only {
        margin-top: 75px;
    }

        .accodiaton-only .ulList {
            background-color: black;
        }

    .row.height-100per .personal-details-left .accodiaton-only, .row.height-100per .personal-details-left .accodiaton-only .ulList, .row.height-100per .personal-details-left .accodiaton-only .ulList .tab-content {
        height: 280px !important;
    }

    .select-option .button-group {
        display: none;
    }
    .dataTables_info{
        display:none !important;
    }
    .dataTables_paginate.paging_simple_numbers{
        left:400px !important;
    }
    /* ====================================================
                   TABLE STYLE START
======================================================== */
    .ihits-table.vertical-scroll-100 tbody,
    .ihits-table.vertical-scroll-200 tbody,
    .ihits-table.vertical-scroll-250 tbody,
    .ihits-table.vertical-scroll-300 tbody,
    .ihits-table.vertical-scroll-400 tbody,
    .ihits-table.vertical-scroll-500 tbody,
    .header {
        height: auto;
    }

    .tab-style-button .tab-items,
    .tab-style-button .tab-items.select-option .form-group,
    .tab-style-button .tab-items.select-option label {
        display: none;
    }

    .ihits-table.vertical-scroll-100 thead,
    .ihits-table.vertical-scroll-200 thead,
    .ihits-table.vertical-scroll-300 thead,
    .ihits-table.vertical-scroll-400 thead,
    .ihits-table.vertical-scroll-500 thead {
        width: calc(100% - 0em);
    }

    .mobile-responsive-table table {
        border: 0;
    }

    .ihits-table.table-border.mobile-responsive-table table {
        border: none;
    }

        .ihits-table.table-border.mobile-responsive-table table tr {
            border: 1px solid #EBEDF3;
        }

    .ihits-table.odd-even.mobile-responsive-table table tbody tr:nth-child(even) {
        background-color: transparent;
    }

    .ihits-table.odd-even.mobile-responsive-table table tbody tr td:nth-child(even) {
        background-color: #f5f6fa;
    }

    .ihits-table.hover-color.mobile-responsive-table table tbody tr td:hover {
        background-color: #f5f6fa;
    }

    .mobile-responsive-table table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    /* .ihits-table.vertical-scroll tbody {
        display: block;
        height: auto !important;
        overflow: auto;
    } */
    .ihits-table.table-border.mobile-responsive-table table thead tr th,
    .ihits-table.table-border.mobile-responsive-table table tbody tr td {
        border: none;
        text-align: start;
    }

    .mobile-responsive-table table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: 10px;
    }


        .mobile-responsive-table table tr:last-child {
            margin-bottom: 0px;
        }

    .mobile-responsive-table table td {
        border-bottom: 1px solid #ddd !important;
        font-size: 12px;
        text-align: left;
        padding-top: 7px !important;
        padding-bottom: 7px !important;
        line-height: 13px !important;
        display: grid;
        grid-template-columns: 45% 55%;
    }

        .mobile-responsive-table table td::before {
            content: attr(data-label);
            float: left;
            font-weight: bold;
            text-transform: uppercase;
            text-align: left;
            padding-right: 25px;
            font-size: 11px;
        }

        .mobile-responsive-table table td:last-child {
            border-bottom: 5px solid #ddd !important;
        }
    /* ====================================================
                   TABLE STYLE END
======================================================== */
    .tab-style-button .tab-items.select-option {
        display: block;
        background-color: #cee9ff;
        display: block;
        position: fixed;
        right: 0px;
        width: 44px;
        /* height: 110px; */
        padding: 9px 6px 9px 5px !important;
        border-bottom-left-radius: 4px;
        border-top-left-radius: 4px;
        z-index: 9999;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    }

    .select-option .filter-button {
        background-color: #fff;
        border: solid 1px #333;
    }

    .select-option .sraech-slider {
        background-color: #fff;
        border: solid 1px #333;
        margin-top: 10px;
    }

    .select-option .btn.btn-excel.float-left {
        cursor: pointer;
        top: 48px;
    }

    .select-option .sraech-slider .search-slider-inner {
        background-color: #fff;
    }
    /* .appraisal-list table thead tr th, .appraisal-list table tbody tr td{
    width: 100% !important;
} */
    .ihits-table table thead tr th, tbody tr td {
        width: 100% !important;
    }
}

@media screen and (max-width: 600px) {
    .reward-master-departmentadd .ihits-table.table-border table thead tr th, .ihits-table.table-border table tbody tr td {
        border: none !important;
        border-bottom: none !important;
    }

    .step-outer .step-item {
        font-size: 9px !important;
    }

        .step-outer .step-item::after, .step-outer .step-item.active::after {
            top: 46px !important;
        }

    .step-circle.focused {
        margin-top: 25px !important;
    }

    .step-circle {
        margin-top: 25px !important;
    }

    .ihits-table table thead tr th, tbody tr td {
        width: auto !important;
    }

    .Benifits {
        margin-top: 12px !important;
    }

    /* .btn.btn-default {
             margin-top: 5px;
        } */
    .ulList > li.active {
        padding-top: 1px !important;
        padding-bottom: 1px !important;
    }

    .ulList > li {
        padding: 1px 5px !important;
        font-size: 12px !important;
    }

    .tab-content {
        top: 48px !important;
    }

    .tab-top-right {
        position: relative !important;
    }
    /* #tabOne{
            top: 0 !important;
        } */
    .dataTables_paginate.paging_simple_numbers {
        left: 235px !important;
    }

}

@media only screen and (max-width:1115px) {
    .tab-button-wrap {
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
    }

    .select-option .form-group.filter-combobox {
        width: 150px !important;
    }

    .tab-button-wrap .tab-items {
        padding: 0px !important;
    }

    .tab-style-button .btn.btn-excel {
        margin-right: 6px;
    }

    .tab-button-wrap .tab-items .btn-title {
        padding: 0px 7px 0px;
    }

    .batchleave {
        margin-left: 10px !important;
    }

    .btn.btn-default, .btn.btn-cancel, .btn.btn-default-outline, .btn.btn-secondary {
        font-size: 10px !important;
    }
}



/* ====================================================
                       MEDIA QUERY MIN 1115 end
    ======================================================== */


@media screen and (max-width: 576px) {
    /* <new> */

    .profile-header .header-profile-name span {
        font-size: 11px !important;
    }

    .newslide {
        padding: 0px !important;
    }

    .header-profile-email {
        margin-right: 3px !important;
    }

    .document-card-outer {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
/* ====================================================
                   MEDIA QUERY MAX 576 END
======================================================== */


/* ====================================================
                   MEDIA QUERY MAX 476 START
======================================================== */

@media screen and (max-width: 476px) {
    /* <new> */
    .profile-header .header-profile-name {
        font-size: 14px !important;
        margin-right: 0px !important;
    }

    .profile-header .image-input-circle {
        margin-right: 8px !important;
    }

    .header-menu-wrapper .breadcrumb-transparent {
        display: flex !important;
    }

    .header-menu-wrapper .main-title {
        font-size: 14px !important;
    }

    .header-menu-wrapper .main-title {
        text-align: left;
    }

    .ihits-table {
        padding-bottom: 10px !important;
    }

    .select-option .sraech-slider input.form-control.field-width-big {
        width: 170px !important;
    }

    .lable-left {
        display: none !important;
    }

    .profile-header .col-md-2 .float-right {
        text-align: center !important;
        float: right !important;
    }

    .card-body .image-input .image-input-wrapper {
        width: 58px !important;
        height: 56px !important;
    }

    .mobile-responsive-table table td::before {
        font-size: 10px;
    }

    .ihits-table.table-border table tbody tr td {
        font-size: 10px;
    }
    .dataTables_paginate.paging_simple_numbers {
        left: 135px !important;
    }
}
/* ====================================================
                   MEDIA QUERY MAX 476 END
======================================================== */
