@model Hrms.Lite.Essp.Shared.Essp.Leave.CoffBalance
@{
    ViewData["Title"] = "CoffBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="~/scripts/ESSP/coffApplication.js"></script>
<!--begin::Header-->
<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::Header Menu Wrapper-->


        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">
            <!--begin::Header Menu-->
            <div class="d-flex align-items-baseline flex-wrap mr-5">
                <h3 class="main-title">Compensatory Off Balance</h3>
                <ul class="breadcrumb breadcrumb-transparent breadcrumb-dot font-weight-bold p-0 my-2 font-size-sm">
                    <li class="breadcrumb-item ">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })" class="">
                            <i class="icon-nm fas fa-home mt-1"></i>
                        </a>
                    </li>
                    <li class="breadcrumb-item text-muted">
                        <a href="@Url.Action("Create","CoffApplication")"> Coff Application</a>
                    </li>
                    <li class="breadcrumb-item text-muted">
                        Coff Balance
                    </li>

                </ul>
            </div>
        </div>
        <div class="topbar">

            <!--begin::User-->
            <div class="topbar-item">
                <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
                     id="kt_quick_user_toggle">
                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
                    <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">Sean</span>

                </div>
            </div>
            <!--end::User-->
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container full-width">
            <!--begin::Dashboard-->
            <!--begin::Row-->



            <div class="card card-custom height-100per footer-row-fixed">

                <div class="card-body">

                    <!--begin: Search Form-->
                    <div class="row tab-style-button">
                        <div class="tab-button-wrap">


                            <div class="tab-items pr-0 border-none">


                                <div class="form-group filter-combobox mr-2" style="width: 150px; margin-right: 10px;">
                                    @Html.DropDownListFor(m => m.LeavePeriod.Code, (SelectList)ViewBag.LeavePeriod, "Leave Period", new { @class = "form-control form-control-sm", @onchange = "onCoffLeavePeriodChange(this)" })

                                </div>


                            </div>





                            <div class="tab-items select-option">



                                <div class="pt-3" data-toggle="tooltip" title="Validity: 90 Days">
                                    Validity:<strong> 90 Days </strong>
                                </div>

                            </div>


                        </div>
                    </div>

                    <div class="coff_list_Dashboard">
                        @await Html.PartialAsync("_CoffBalanceList", Model)
                    </div>







                    <!--end: Datatable-->
                </div>
            </div>


            <!--end::Row-->
            <!--begin::Row-->
            <!--end::Row-->
            <!--end::Dashboard-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->

</div>
